.project-card {
    width: 63vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: start;
    background-color: hsl(0, 0%, 14%);
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 127px 3px rgba(142,192,124,0.1);
    -moz-box-shadow: 0px 0px 127px 3px rgba(142,192,124,0.1);
    box-shadow: 0px 0px 127px 3px rgba(142,192,124,0.1), inset 0px 0px 12px hsl(0, 0%, 4%);
}

.achievement-info {
    position: relative;
    width: 80%;
    margin: 5%;
    padding: 5%;
}

.achievement-info h1 {
    padding: 0;
    margin: 0;
    font-size: 5vh;
}

.achievement-info h2 {
    color: hsl(0, 0%, 50%);
    padding: 0;
    margin: 0;
    margin-top: -1.5vh;
    font-size: 2vh;
    font-weight: 400;
}

.achievement-info h3 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 2.6vh;
    font-weight: 300;
}

@media (min-aspect-ratio: 8/9) {
    .gallery {
        height: 65vh;
        width: 50vw;
        grid-template-columns: 1fr 1fr;
    }
    .achievement-box {
        grid-template-columns: 1fr 1fr;
        top: 35vh;
        left: 5vw;
        width: 90vw;
        height: 55vh;
    }

    .achievement-info h1 {
        font-size: 4vh;
    }
    
    .achievement-info h2 {
        font-size: 2vh;
        margin-top: -1vh;
    }
    
    .achievement-info h3 {
        font-size: 2vh;
    }
}

@media (max-aspect-ratio: 8/9) {
    .project-card{
        grid-template-columns: 1fr 1fr;
        width: 95%;
        left: 2.5%;
    }
    .achievement-box {
        top: 35vh;
        width: 90vw;
        height: 55vh;
    }

    .achievement-info h1 {
        margin-top: -5vh;
        font-size: min(5vw, 3vh);
    }
    
    .achievement-info h2 {
        font-size: min(3vw, 1vh);
        margin-top: 0vh;
    }
    
    .achievement-info h3 {
        font-size: min(4vw, 2vh);
    }
}