@media (min-aspect-ratio: 10/9) {
    .bar{
        position: fixed;
        display: grid;
        align-items: center;
        background-color: hsl(0, 0%, 13%);
        top: 0;
        left: 0;
        bottom: 0;
        width: 10vw;
        height: 100%;
        box-shadow: inset 0px 0px 6px hsl(0, 0%, 3%);
    }
    
    .bar-grid{
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6px;
    }
    
    .bar-segment{
        width: 100%;
        display: grid;
        text-align: left;
        padding-left: .5vw;
        align-items: center;
    }
    
    .bar-segment-text{
        position: relative;
        font-weight: 400;
        font-size: 1.5vw;
        text-decoration: none;
        transition: all .3s;
    }
    .bar-segment:hover {
        cursor: pointer;
        color: rgb(215,153,33)
    }
    .bar-segment-text::before {
        content: "";
        position: absolute;
        display: block;
        width: 82%;
        height: 2px;
        bottom: 25%;
        left: 0;
        background-color: rgb(215,153,33);
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.3s ease;
    }

    .profiles-bar{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10vw;
        height: 5vh;
        border-top: 1px solid hsl(0, 0%, 8%);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .link-box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .link-img {
        width: 60%;
    }
}  

@media (max-aspect-ratio: 10/9) {
    .bar{
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: hsl(0, 0%, 14%);
        width: 100%;
        box-shadow: inset 0px 0px 6px hsl(0, 0%, 3%);
    }
    .bar-grid{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .bar-segment{
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .bar-segment-text{
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 4vw;
    }
    .bar-segment:hover {
        cursor: pointer;
        color: rgb(215,153,33)
    }
    .bar-segment-text::before {
        content: "";
        position: absolute;
        display: block;
        width: 70%;
        height: 2px;
        bottom: 25%;
        left: 15%;
        background-color: rgb(215,153,33);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    .profiles-bar{
        width: 100%;
        height: 5vh;
        background-color: red;
        margin-bottom: 2vh;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .link-box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .link-img {
        height: 80%;
    }
}
  
a {
    text-decoration: none;
    color: white;
}

.bar-segment-text:hover::before {
    transform: scaleX(1);
}

.selected{
    color: rgb(142,192,124);
}

.selected::before{
    background-color: rgb(142,192,124);
}