@media (min-aspect-ratio: 10/9) {
    body{
        padding-left: 10%;
    }

    .bg{
        background: rgb(0,0,0);
        background: linear-gradient(90deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 25%) 100%);
    }
}

@media (max-aspect-ratio: 10/9) {
    body{
        padding-left: 0;
    }

    .bg{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 25%) 100%);
    }
}

body{
    margin: 0px;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 90%);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}