.home{
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.home-text{
    width: 100%;
}

.home-info{
    display: grid;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title{
    font-size: 12vh;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    cursor: default;
}

.subtitle{
    color: hsl(0, 0%, 50%);
    font-size: 4vh;
    padding: 0px;
    margin-top: -2vh;
    font-weight: 400;
    cursor: default;
}

.bio{
    color: hsl(0, 0%, 90%);
    padding: 0px;
    margin-top: 4vh;
    font-weight: 300;
    font-size: 4vh;
}

.code-box {
    margin-left: 10px;
    margin-right: 5vw;
    position: relative;
    padding-left: 2vw;
    background-color: hsl(0, 0%, 14%);
    box-shadow: inset 0px 0px 8px hsl(0, 0%, 4%);
    border-radius: 10px;
    font-size: min(1.25vw, 2.25vh);
    font-family: Space Mono;
    cursor: default;
    -webkit-box-shadow:0px 0px 127px 3px rgba(142,192,124,0.15);
    -moz-box-shadow: 0px 0px 127px 3px rgba(142,192,124,0.15);
    box-shadow: 0px 0px 127px 3px rgba(142,192,124,0.15);
    transition: all .5s;
}

.code-box:hover{
    -webkit-box-shadow:0px 0px 127px 10px rgba(142,192,124,0.24);
    -moz-box-shadow: 0px 0px 127px 10px rgba(142,192,124,0.24);
    box-shadow: 0px 0px 127px 10px rgba(142,192,124,0.24);
}

@media (min-aspect-ratio: 10/9) {
    .code-box {
        height: 65%;
    }
    
    .home-text{
        padding-left: 6vw;
    }
}

@media (max-aspect-ratio: 10/9) {
    .home {
        padding: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }

    .title{
        padding-top: 5vh;
        text-align: center;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .subtitle{
        text-align: center;
    }
    
    .bio{
        text-align: center;
        margin-bottom: -10vh;
    }

    .code-box {
        margin-left: 5vw;
        font-size: 2.25vh;
        /*font-size: min(2.5vw, 2.25vh);*/
    }
}