body{
    overflow: hidden;
}

@media (min-aspect-ratio: 8/9) {
    .projects {
        position: relative;
        width: 100%;
        height: 100vh;

        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }

    .project-cards {
        position: relative;
        height: 65%;
        width: 100%;
    }

    .project-list {
        width: 80%;
        padding-left: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-right: solid hsl(0, 0%, 90%) 2px;
        
    }

    .project-name {
        width: 90%;
        height: 10vh;
        padding-right: 2vw;
        display: grid;
        justify-content: right;
        align-items: center;
        font-size: 1.5vw;
        font-weight: 200;
        transition: all .3s;
    }

    /*
    .project-list:hover .gallery-card{
        opacity: 0;
    }
*/
    .project-name:hover {
        font-size: 2vw;
        font-weight: 400;
        color: rgb(142,192,124);
        cursor: pointer;
    }
/*
    .project-name:hover .project-card{
        opacity: 100;
    }
*/
    .gallery-card {
        position: absolute;
        opacity: 100;
        display: flex;
        top: 24%;
        left: 5vw;
        width: 70%;
        height: 54%;
        font-size: 5vh;
        font-weight: 400;
        transition: all .3s;
        color: white;
        align-items: center;
        justify-content: center;
    }

    .gallery {
        pointer-events: all;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .gallery-image {
        position: relative;
        cursor: pointer;
        width: 95%;
        height: 25vh;
        object-fit: cover;
        border-radius: 5px;
        transition: all .3s;
    }

    .gallery-image:hover {
        -webkit-box-shadow:0px 0px 127px 6px rgba(142,192,124,0.2);
        -moz-box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.2);
        box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.2), inset 0px 0px 6px hsl(0, 0%, 4%);
    }

    .project-card {
        position: absolute;
        pointer-events: none;
        display: flex;
        top: 17.5%;
        left: 5vw;
        width: 77%;
        height: 65%;
        opacity: 0;
        font-size: 5vh;
        font-weight: 400;
        transition: all .3s;
        color: white;
        align-items: center;
        justify-content: center;
    }

    .project-card-grid {
        position: relative;
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .project-images {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        height: 65vh;

    }

    .project-image-container{
        display: grid;
        align-items: center;
        width: 100%;
        height: 30vh;
    }

    .project-image {
        width: 90%;
        height: 95%;
        object-fit: cover;
        object-fit: cover;
        border-radius: 5px;
    }

    .project-info {
        height: 65vh;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 3fr 3fr;
        align-items: center;
        justify-content: space-between;
    }

    .project-title {
        height: 10%;
        font-size: 4vw;
        padding-left: 1vw;
    }

    .project-description {
        height: 100%;
        font-size: 2.5vh;
        padding-left: 1vw;
        font-weight: 300;
    }

    .code-box {
        margin-left: 10px;
        margin-right: 5vw;
        position: relative;
        padding-left: 2vw;
        background-color: hsl(0, 0%, 14%);
        border-radius: 10px;
        font-size: 1.5vh;
        font-family: Space Mono;
        cursor: default;
        -webkit-box-shadow:0px 0px 127px 6px rgba(142,192,124,0.1);
        -moz-box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.1);
        box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.1), inset 0px 0px 6px hsl(0, 0%, 4%);
        transition: all .5s;
    }
}

@media (max-aspect-ratio:10/9) {
    @media (min-aspect-ratio:8/9) {
        .projects{
            height: 65vh;
            margin-bottom: 15vh;
        }
        .project-card {
            position: absolute;
            height: 63vh;
            padding-top: 0vh;
            top: 0;
            font-size: 3.5vw;
            pointer-events: none;
            display: flex;
            transition: all .3s;
            opacity: 0;
            color: white;
        }
    }
}

@media (max-aspect-ratio: 8/9) {

    .projects{
        position: relative;
    }

    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        margin-bottom: 70vh;
        font-size: 4vw;
        height: 15vh;
        align-items: center;
    }

    .gallery-card {
        pointer-events: none;
        position: absolute;
        height: 68vh;
        top: 15vh;
        display: flex;
        transition: all .3s;
    }

    .project-name {
        display: grid;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        font-weight: 200;
        transition: all .3s;
    }

    .project-name:hover{
        color: rgb(142,192,124);
        font-size: 4.5vw;
        font-weight: 400;
    }

    .project-card {
        position: absolute;
        height: 63vh;
        padding-top: 4.2vh;
        top: 15vh;
        left: 0;
        font-size: 3.5vw;
        pointer-events: none;
        display: flex;
        transition: all .3s;
        opacity: 0;
        color: white;
    }

    .gallery {
        position: relative;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .gallery-image {
        width: 90%;
        height: 22vh;
        object-fit: cover;
        border-radius: 10px;
    }

    .project-name:hover .project-card{
        opacity: 100;
    }

    .project-list:hover .gallery-card{
        opacity: 0;
    }

    .project-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .project-image {
        width: 90%;
        height: 15vh;
        object-fit: cover;
        border-radius: 10px;
        -webkit-box-shadow:0px 0px 127px 6px rgba(215,153,33,0.1);
        -moz-box-shadow: 0px 0px 127px 6px rgba(215,153,33,0.1);
        box-shadow: 0px 0px 127px 6px rgba(215,153,33,0.1), inset 0px 0px 6px hsl(0, 0%, 4%);
    }

    .project-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .code-box {
        position: relative;
        text-align: left;
        padding-left: 5vw;
        padding-bottom: 2vh;
        width: 50%;
        background-color: hsl(0, 0%, 14%);
        border-radius: 10px;
        font-size: 1.5vh;
        font-family: Space Mono;
        cursor: default;
        -webkit-box-shadow:0px 0px 127px 6px rgba(142,192,124,0.15);
        -moz-box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.15);
        box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.15), inset 0px 0px 5px hsl(0, 0%, 4%);
        transition: all .5s;
    }

    .project-title {
        font-weight: 400;
        font-size: 4vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .project-description{
        font-weight: 300;
        padding-top: 3vh;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1.75vh;
    }
}

.gallery-image {
    -webkit-box-shadow:0px 0px 127px 6px rgba(142,192,124,0.1);
    -moz-box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.1);
    box-shadow: 0px 0px 127px 6px rgba(142,192,124,0.1), inset 0px 0px 6px hsl(0, 0%, 4%);
}

.back {
    color: hsl(0, 0%, 50%);
}

.back:hover {
    color: rgb(215,153,33);
    font-weight: 300;
}