.resume {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 90vw;
    height: 100vh;
}

.pdf {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 95vh;
    max-width: 95vw;
    object-fit: fill;
    border-radius: 10px;
    background-color: hsl(0, 0%, 13%);
    border: solid hsl(0, 0%, 9%) 1px;
    -webkit-box-shadow:0px 0px 127px 12px rgba(142,192,124,0.15);
    -moz-box-shadow: 0px 0px 127px 12px rgba(142,192,124,0.15), inset 0px 0px 6px hsl(0, 0%, 4%);
}

.download-container {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    width: 3vw;
    object-fit: contain;
}

.download {
    width: 100%;
    object-fit: contain;
}

@media (max-aspect-ratio: 10/9) {
    .resume {
        width: 100vw;
        height: 80vh;
    }

    .pdf-container{
        width: 95%;
    }

    .pdf {
        max-height: 75vh;
    }

    .download-container {
        width: 4vh;
    }
}

